language: cpp
sudo: required
dist: trusty
compiler: clang

addons:
  apt:
    sources:
      - llvm-toolchain-trusty-5.0
    packages:
      - clang-5.0
      - libboost-all-dev

before_install:
- sudo add-apt-repository -y --allow-unauthenticated ppa:beineri/opt-qt594-trusty
- sudo apt-get update -qq
- sudo apt-get install -qq qt59-meta-minimal
- source /opt/qt59/bin/qt59-env.sh
- export CXX=clang++-5.0
- export CXXFLAGS="-std=c++17"

before_script:
- mkdir -p build
- cd build
- export CXX=clang++-5.0
- export CXXFLAGS="-std=c++17"
- cmake -DTRAVIS=1 -DCMAKE_CXX_STANDARD=17 -DCMAKE_CXX_STANDARD_REQUIRED=ON ..

script:
- make
- ./run_tests.sh
